*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Mulish', sans-serif;
    font-size: 20px;
    color: #e9e9e9;
    background-color: #ffffff;
    text-rendering: optimizeLegibility;
}

body {
    overflow-x: hidden;
}

/* ---------------------------------------------------------------------------- */
/* --------------------------------HEADER-------------------------------------- */
/* ---------------------------------------------------------------------------- */
.top-bar {
    padding: 2px;
}
.time-box,
.top-icon,
.user-box {
    display: inline-block;
}

.fa-clock,
#current-time {
    position: relative;
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: white;
}

#current-time {
    border-right: 1.5px solid rgb(140, 134, 134);
}

.fa-clock {
    margin-left: 20px;;
}

.fa-twitter,
.fa-facebook,
.fa-discord,
.fa-youtube {
    color: white;
    margin-left: 10px;
}

.log-in,
.sign-up {
    position: absolute;
    display: inline-block;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    color: white;
}

.sign-up {
    right: 30px;
    top: 2px;
}

.main-nav {
    float: right;
    list-style: none;
    margin-right: 280px;
    margin-top: 20px;
}

.clearfix::after {
	content: "";
	clear: both;
	display: table;
}
